MODE=development
HTTP_PORT=
CLIENT_URL=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

MINIO_HOST=
MINIO_PORT=
MINIO_SECURE=false
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PUBLIC_URL=

API_CO_ID_KEY=
API_CO_ID_URL=https://use.api.co.id
API_CO_ID_REGENCY_CODE=3578

GOTENBERG_URL=

VAPID_PRIVATE_KEY=